@model EditCategoryViewModel

<div b-gla70z2p0w class="container">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category Name</th>
                        <th>Due Date</th>
                        <th>Completed Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Category.toDoItems)
                    {
                        <tr>
                            <th>@item.Title</th>
                            <th>@Model.Category.Name</th>
                            <th>@item.DueDate.ToShortDateString()</th>
                            @if (item.CompletedDate.HasValue)
                            {
                                <th>@item.CompletedDate.Value.ToShortDateString()</th>
                            }
                            else
                            {
                                <th>N/A</th>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
