<div b-gla70z2p0w class="container">
    <div style="height: 70vh;" class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <form method="post" action="/home/addcategory">
                <input type="text" class="form-control-lg form-control" placeholder="Category Name" name="name" />
                <br />
                <div class="d-grid gap-2">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
